# OS X
.DS_Store
 
# Xcode
*.xccheckout
*.DS_Store
*xcuserdata*
**/build/
.idea
 
!*/xcshareddata/*
*.xccheckout
*/xcuserdata/*

# Carthage
Carthage/Build
 
# fastlane
fastlane/report.xml
fastlane/*report*
*app.dSYM.zip
