# OS X
.DS_Store

# Xcode
*.DS_Store
.idea
.build/
xcuserdata/
xcshareddata/*

# Swiift Package
DerivedData/
.swiftpm
build/

# Carthage
Carthage/Build

# fastlane
fastlane/report.xml
fastlane/*report*
*app.dSYM.zip
